<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Getting Started with DeFi</title>
  <link th:replace="partials/partials :: bootstrapLink">
  <style>
    *{
      color: white;
    }
    body{
      background-color: #2a2b3c;
    }
    .dark{
      background-color: #1c1d2b;
    }
    .picture img{
      background-color: white;
      width: 300px;
      height: 300px;
    }
    .picture2{
      background-color: white;
      width: 400px;
      height: 400px;
    }
    .fix{
      padding-right: 120px!important;
      padding-left: 0!important;
    }

  </style>

</head>

<body class ="body">
<nav th:replace="partials/navBar :: navbar2"></nav>


<div class="container">
  <div class="col">
    <h1>DeFi</h1>
  </div>
  <div class="row">

    <div class="col-4 d-flex justify-content-center fix">
      <div class="picture"><img src="/images/smart_contract.png" alt="Smart Contracts image"></div>
    </div>

    <div class="col-8 p-3 d-flex flex-column justify-content-center dark ">

      <h5 class="card-title">Wallets</h5>
      <p class="card-text pb-3">A DeFi wallet is a cryptocurrency wallet that is specifically designed for use with decentralized finance (DeFi) applications. These wallets allow users to store, manage, and transact with cryptocurrencies in a decentralized and secure manner.</p>

      <p class="card-text pb-3">DeFi wallets typically support multiple cryptocurrencies and are compatible with a variety of DeFi protocols. They may also offer features such as staking, yield farming, and liquidity provision.</p>

      <p class="card-text pb-3">One of the key features of DeFi wallets is that they allow users to maintain control over their private keys, which are used to access and manage their cryptocurrency holdings. This gives users full ownership and control over their assets, as opposed to relying on a centralized third party to hold and manage their funds.</p>
      <p class="card-text pb-3">Some examples of popular DeFi wallets include MetaMask, Trust Wallet, Ledger Live, and Coinbase Wallet. These wallets offer a range of features and functionality, including support for multiple cryptocurrencies, integration with popular DeFi protocols, and enhanced security measures to protect users' funds.</p>
    </div>

  </div>
  <div class="row mt-5">

    <div class="col-6 ">
      <h4 class="p-3">DEX</h4>
      <p class="dark m-3 p-3">A DEX, short for decentralized exchange, is a type of cryptocurrency exchange that operates in a decentralized manner, without the need for intermediaries such as banks or other financial institutions. Unlike centralized exchanges, where users' funds are held in a centralized body (Coinbase, Binance, Gemini) and trades are executed through the exchange's servers, DEX exchanges allow users to trade cryptocurrencies directly with each other using smart contracts.</p>
      <p class="dark m-3 p-3">In a DEX exchange, the trades are executed on a blockchain network, typically using a smart contract protocol such as Ethereum. The smart contract holds the funds of the traders and executes the trade when certain conditions are met. Because the trades are executed on a blockchain, they are transparent and immutable, and there is no need for intermediaries to oversee the trades.</p>
      <p class="dark m-3 p-3">DEX exchanges offer several advantages over centralized exchanges. They are more secure, as users retain control over their funds and are not subject to the risks associated with centralized exchange hacks or bankruptcies. They also offer greater privacy, as users can trade without the need to provide identifying information or undergo KYC/AML checks.</p>
      <p class="dark m-3 p-3">However, DEX exchanges also have some disadvantages, including lower liquidity, higher trading fees, and slower transaction speeds. Additionally, because they are built on blockchain technology, DEX exchanges may not be suitable for all types of trades and may be subject to network congestion and other technical issues.</p>
      <p class="dark m-3 p-3">Some examples of popular DEX exchanges include Uniswap, PancakeSwap, SushiSwap, and Curve. These exchanges have gained popularity in recent years due to the growth of DeFi and the desire for users to trade cryptocurrencies in a decentralized and trustless manner.</p>
    </div>

    <div class="col-6 d-flex align-items-center justify-content-end">
      <div class="picture2 m-3"></div>
    </div>

  </div>

  <div class="row my-5">
    <div class="col-4 dark">
      <h5 class="p-3">Here is a list of the top 10 most popular DEXs (in no particular order):</h5>

      <ul class="p-3">
        <li class="pb-3"><strong>Uniswap:</strong> One of the most popular DEXs, built on the Ethereum network, allowing users to trade ERC-20 tokens.

        <li class="pb-3"><strong>PancakeSwap:</strong> A DEX built on the Binance Smart Chain network, allowing users to trade BEP-20 tokens.

        <li class="pb-3"><strong>SushiSwap:</strong> A fork of Uniswap, offering additional features such as liquidity mining and yield farming.</li>

        <li class="pb-3"><strong>Curve Finance:</strong> A DEX that specializes in trading stablecoins, offering low slippage and low fees.</li>

        <li class="pb-3"><strong>1inch Exchange:</strong> An aggregator of several DEXs, offering users the best exchange rates by searching multiple DEXs.</li>

        <li class="pb-3"><strong>Balancer:</strong> A DEX that allows users to create custom liquidity pools, enabling trading of multiple tokens in a single transaction.</li>

        <li class="pb-3"><strong>Quickswap:</strong> A DEX built on the Polygon network, offering low fees and fast transaction speeds.</li>

        <li class="pb-3"><strong>Bancor Network:</strong> A DEX that uses an automated market maker (AMM) algorithm to determine token prices and liquidity.</li>

        <li class="pb-3"><strong>Kyber Network:</strong> A DEX that aggregates liquidity from multiple sources, including other DEXs and centralized exchanges.</li>

        <li class="pb-3"><strong>OasisDEX:</strong> A DEX that allows users to trade Ethereum-based tokens, using an automated market maker (AMM) model.</li>
      </ul>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="picture"></div>
    </div>
    <div class="col-4 dark">
      <h4 class="p-4">'Buying' DeFi Tokens</h4>
      <p class="p-3">Tokens tradable on DEX's are not 'bought' like on a CEX but 'swapped', on token for another through smart contracts validated on the Layer's network.</p>

      <p class="p-3">Swapping coins on a DEX exchange typically involves the following steps:</p>
      <ol>
        <li class="pb-3"><strong>Connect your wallet:</strong> To use a DEX exchange, you will need to connect your cryptocurrency wallet to the exchange. This is typically done by connecting your wallet to the exchange using a wallet provider like MetaMask, Trust Wallet, or Coinbase Wallet.

        <li class="pb-3"><strong>Select the tokens you</strong> want to swap: Once you have connected your wallet, you can select the tokens you want to swap. You can typically choose from a range of cryptocurrencies and select the specific pairs you want to trade.

        <li class="pb-3"><strong>Input the amount:</strong> After selecting the tokens you want to swap, you will need to input the amount of each token you want to trade. The exchange will typically display the exchange rate and the estimated transaction fee for the trade.

        <li class="pb-3"><strong>Confirm the trade:</strong> Once you have inputted the amount of each token you want to trade, you can confirm the trade. The exchange will typically display a summary of the trade, including the total amount of tokens being swapped and the transaction fee.

        <li class="pb-3"><strong>Execute the trade:</strong> After reviewing the trade summary, you can execute the trade. The exchange will typically prompt you to confirm the trade and will display a confirmation message once the transaction has been completed.
      </ol>
    </div>

  </div>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position: absolute;top: 40%;left: 50%;"><a style="text-decoration: none;" href="/lesson-6">Next</a></h3>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">


<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position:absolute;top: 35%;left: 42%;z-index: 2;"><a style="text-decoration: none;" href="/lesson-4">Previous</a></h3>
  <svg style="rotate: 180deg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>
<div th:replace="partials/partials :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="partials/partials :: bootstrapScript"></script>
</body>
</html>



