<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blockchains</title>
  <link th:replace="partials/partials :: bootstrapLink">
  <style>
    *{
      color: white;
    }
    body{
      background-color: #2a2b3c;
    }
    .dark{
      background-color: #1c1d2b;
    }
    .picture{
      background-color: white;
      width: 300px;
      height: 300px;
    }
    .picture2{
      background-color: white;
      width: 400px;
      height: 400px;
    }
    .fix{
      padding-left: 120px!important;
      padding-right: 0!important;
    }

  </style>

</head>

<body class ="body">
<nav th:replace="partials/navBar :: navbar2"></nav>


<div class="container">
  <div class="col">
    <h1>Blockchains</h1>

  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 p-3 d-flex flex-column justify-content-center dark ">

      <h5 class="card-title">A Decentralized Ledger</h5>
      <p class="card-text ">A blockchain is a decentralized and distributed digital ledger that is used to record transactions across many computers in a secure and transparent way. The name "blockchain" comes from the way the data is stored in the ledger, which is broken down into blocks that are linked together in a chain-like structure.!</p>
    </div>
    <div class="col-sm-11 col-md-5  d-flex justify-content-center fix">
      <div class="picture "></div>
    </div>
  </div>
  <div class="row mt-5">


    <div class="col-sm-6 col-md-6 d-flex align-items-center justify-content-start">
      <div class="picture2 m-3"></div>
    </div>


    <div class="col-sm-6 col-md-6  ">
      <p class="dark m-3 p-3">Each block in the chain contains a set of transactions, and once a block is added to the chain, it cannot be modified or deleted. This makes the blockchain a tamper-evident and tamper-resistant database.</p>
    </div>



  </div>

  <div class="row my-5">
    <div class="col-sm-12 col-md-4  dark">
      <p class="p-3">In a blockchain, each computer or node in the network has a copy of the ledger, which is constantly updated as new transactions are added. To add a new block to the chain, a consensus mechanism is used to ensure that all nodes in the network agree on the validity of the new block. This consensus mechanism varies depending on the blockchain, but it is typically based on proof-of-work (PoW), proof-of-stake (PoS), or a combination of both.</p>
    </div>
    <div class="col-sm-12 col-md-4  d-flex justify-content-center align-items-center">
      <div class="picture"></div>
    </div>
    <div class="col-sm-12 col-md-4   dark">
      <p class="p-3">These are just a few examples of the many different types of blockchains that exist. Each blockchain is designed to serve a specific purpose, and they all have their own unique features and characteristics.</p>

      <ul class="p-3">
        <li class="pb-1">Bitcoin: Bitcoin is the first and most well-known blockchain-based cryptocurrency. It was created in 2008 and uses a proof-of-work consensus algorithm to validate transactions and add new blocks to the chain.</li>

        <li class="pb-1">Ethereum: Ethereum is a blockchain-based platform that allows developers to create decentralized applications (dApps) and smart contracts. It uses a proof-of-stake consensus algorithm and has its own cryptocurrency called Ether.</li>

        <li class="pb-1">Ripple: Ripple is a blockchain-based payment protocol that is designed to facilitate fast and low-cost cross-border payments. It uses a consensus algorithm called Ripple Protocol Consensus Algorithm (RPCA).</li>

        <li class="pb-1">Hyperledger Fabric: Hyperledger Fabric is an open-source blockchain platform that is designed for enterprise use. It allows organizations to create their own private blockchain networks and has a modular architecture that allows for flexibility and scalability.</li>

        <li class="pb-1">Corda: Corda is another blockchain platform that is designed for enterprise use. It is specifically focused on the financial services industry and allows for secure and efficient sharing of financial data and assets between parties.</li>

        <li class="pb-1">VeChain: VeChain is a blockchain-based supply chain management platform that uses a proof-of-authority consensus algorithm. It allows businesses to track the movement and authenticity of products throughout the supply chain.</li>
      </ul>
    </div>

  </div>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position: absolute;top: 40%;left: 50%;width:unset;"><a style="text-decoration: none;" href="/lesson-4">Next</a></h3>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">


<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position:absolute;top: 35%;left: 42%;z-index: 2;width:unset;"><a style="text-decoration: none;" href="/lesson-2">Previous</a></h3>
  <svg style="rotate: 180deg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>
<div th:replace="partials/partials :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="partials/partials :: bootstrapScript"></script>
</body>
</html>




