<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Self Custody</title>
  <link th:replace="partials/partials :: bootstrapLink">
  <style>
    *{
      color: white;
    }
    body{
      background-color: #2a2b3c;
    }
    .dark{
      background-color: #1c1d2b;
    }
    .picture{
      background-color: white;
      width: 300px;
      height: 300px;
    }
    .picture2{
      background-color: white;
      width: 400px;
      height: 400px;
    }
    .fix{
      padding-right: 120px!important;
      padding-left: 0!important;
    }

  </style>

</head>

<body class ="body">
<nav th:replace="partials/navBar :: navbar2"></nav>


<div class="container">
  <div class="col">
    <h1>All about Crypto Wallets</h1>

  </div>
  <div class="row">

    <div class="col-sm-12 col-lg-4 d-flex justify-content-center fix">
      <div class="picture "></div>
    </div>

    <div class="col-sm-12 col-lg-8 p-3 d-flex flex-column justify-content-center dark ">

      <h5 class="card-title">What is a wallet, do I need one?</h5>
      <p class="card-text ">A crypto wallet is your personal ledger book that stores your wallet address and the tokens, blockchains and contracts your wallet interacts with.</p>

      <p class="card-text">These networks are designed to be decentralized and transparent, with all nodes in the network having a copy of the blockchain ledger.</p>

      <p class="card-text">Layer 1 networks are sometimes referred to as the "on-chain" layer because all transactions and smart contract executions occur directly on the main blockchain.</p>
    </div>

  </div>
  <div class="row mt-5">

    <div class="col-sm-12 col-lg-12 ">
      <h4 class="p-3">ERC-20</h4>
      <p class="dark m-3 p-3">The ERC-20 standard is a set of rules and guidelines used to create tokens on the Ethereum blockchain. ERC-20 tokens are built on top of the Ethereum network, and they use its infrastructure to operate. Here's how the ERC-20 network works:</p>
      <ol>
        <li class="pb-2">Token creation: To create an ERC-20 token, a developer must first write a smart contract that follows the ERC-20 standard. The smart contract defines the rules and functionality of the token, such as the total supply, the name and symbol of the token, and the rules for transferring and managing the token.</li>

        <li class="pb-2">Token deployment: Once the smart contract is written, it must be deployed on the Ethereum network. This is typically done using a tool such as Remix or Truffle, which allows developers to compile, deploy, and test their smart contracts.</li>

        <li class="pb-2">Token interaction: After the ERC-20 token is deployed, it can be bought, sold, traded, or held like any other cryptocurrency. Users can interact with the token using a compatible wallet or through a decentralized exchange (DEX) that supports ERC-20 tokens.</li>

        <li class="pb-2">Token transfer: ERC-20 tokens can be transferred between Ethereum addresses just like Ether (ETH). However, the transfer process requires a small amount of ETH to pay for gas fees, which are necessary to cover the cost of transaction processing on the Ethereum network.</li>

        <li class="pb-2">Token management: ERC-20 tokens can be managed using a variety of tools and services, including wallets, exchanges, and other third-party applications. Token holders can also manage their tokens directly through the Ethereum blockchain by using tools such as MyEtherWallet or MetaMask.</li>
      </ol>
    </div>

    <div class="col-sm-12 col-lg-12 d-flex align-items-center justify-content-end">
      <div class="col-sm-12 col-lg-4 dark">
        <h4 class="p-3">"Gas"</h4>
        <p class="p-3">When you purchase crypto from a CEX (Centralized Exchange) like Coinbase or Binance, you would transact FIAT currency for cryptocurrency. On a DEX (Decentralized Exchange) you would make your transactions in 'Gas' fees.</p>
        <p class="p-3">Gas fees are the fees users pay to execute transactions on a DEFI (Decentralized Finance) network. Gas fees are denominated in the on-chain protocol's coin, like Ethereum (ETH) when transacting on the Ethereum Layer. Gas fees represent the cost of computational resources needed to execute a transaction or smart contract on the Ethereum, or any other, DEFI blockchain.</p>
      </div>
      <a class="p-4" style="text-decoration: none;" href="/lesson-5">Learn More About DEFI</a>
    </div>

  </div>

  <div class="row my-5">
    <div class="col-sm-12 col-lg-4 dark">
      <h4 class="p-3">Layer 2</h4>
      <p class="p-3">Layer 2 networks in the crypto industry are solutions that are built on top of a Layer 1 blockchain network, such as Bitcoin or Ethereum, to improve scalability and reduce transaction costs.</p>

      <p class="p-3">Examples of Layer 2 networks include Lightning Network for Bitcoin and Rollups for Ethereum. These solutions use a combination of smart contracts, cryptographic algorithms, and off-chain transactions to improve scalability and reduce fees on the Layer 1 blockchain network.</p>
    </div>
    <div class="col-sm-12 col-lg-4 d-flex justify-content-center align-items-center">
      <div class="picture"></div>
    </div>
    <div class="col-sm-12 col-lg-6 dark">
        <h4 class="p-3">How a Layer 2 Network works</h4>
      <ul class="dark m-3 p-3">
        <li class="pb-2"><strong>Opening a channel:</strong> To use a Layer 2 network, a user must first open a payment channel on the Layer 1 network. This is typically done by depositing some cryptocurrency into a smart contract that acts as a channel.</li>

        <li class="pb-2"><strong>Conducting off-chain transactions:</strong> Once the channel is open, users can conduct off-chain transactions with other users who also have channels open on the network. These transactions are not recorded on the Layer 1 blockchain and do not require confirmation from the network.</li>

        <li class="pb-2"><strong>Closing the channel:</strong> When the user is ready to end the payment channel, they can close it by submitting a transaction to the Layer 1 network. This transaction will include the final state of the channel and will settle the balance of the channel between the two parties.</li>

        <li class="pb-2"><strong>Broadcasting the final transaction:</strong> After the channel is closed, the final transaction is broadcast to the Layer 1 network and is confirmed by the network. This final transaction updates the account balances of the two parties on the Layer 1 blockchain.</li>
      </ul>
    </div>

  </div>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position: absolute;top: 40%;left: 50%;width:unset;"><a style="text-decoration: none;" href="/lesson-5">Next</a></h3>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">


<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>
<div class="row" style="position:relative;">
  <h3 class="p-3 text-white" style="position:absolute;top: 35%;left: 42%;z-index: 2;width:unset;"><a style="text-decoration: none;" href="/lesson-3">Previous</a></h3>
  <svg style="rotate: 180deg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
	<path d="M 48.454 82.069 c -0.417 0 -0.837 -0.087 -1.231 -0.265 c -1.076 -0.485 -1.768 -1.556 -1.768 -2.735 V 61.334 H 28.869 c -10.011 0 -18.85 6.824 -23.068 17.811 c -0.519 1.351 -1.926 2.133 -3.348 1.875 C 1.031 80.756 0 79.516 0 78.069 V 66.56 c 0 -16.268 2.937 -37.894 28.327 -37.894 h 17.128 V 10.931 c 0 -1.18 0.691 -2.25 1.768 -2.735 c 1.075 -0.484 2.337 -0.293 3.219 0.487 l 38.545 34.07 C 89.631 43.322 90 44.14 90 45 s -0.369 1.679 -1.014 2.248 L 50.441 81.317 C 49.883 81.812 49.173 82.069 48.454 82.069 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
</g>
  </svg>
</div>


<div th:replace="partials/partials :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="partials/partials :: bootstrapScript"></script>
</body>
</html>




