<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NavBar</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/f692bfbf5c.js" crossorigin="anonymous"></script>

</head>
<body>
<!--<nav th:fragment="navbar">-->
<!--	<header>-->
<!--	<div class="menu-icon">-->
<!--		<i class="fa-solid fa-bars" style="color: #ffffff;"></i>-->
<!--	</div>-->
<!--  <ul class="nav-links loginShift ">-->
<!--	  <li><a href="/">CryptEX</a></li>-->
<!--	  <li><a href="/overview">Tutorial</a></li>-->
<!--	  <li><a href="/about-us">About</a></li>-->
<!--	  <li><a href="/dashboard">Dashboard</a></li>-->
<!--	  <li><a href="/sign-up">Sign Up</a></li>-->
<!--	  <li><a href="/login">Login</a></li>-->
<!--  </ul>-->
<!--		<ul class="nav-links2 loginShift ">-->
<!--			<li><a href="/">CryptEX</a></li>-->
<!--			<li><a href="/overview">Tutorial</a></li>-->
<!--			<li><a href="/about-us">About</a></li>-->
<!--			<li><a href="/dashboard">Dashboard</a></li>-->
<!--			<li><a href="/sign-up">Sign Up</a></li>-->
<!--		    <li><a href="/login">Login</a></li>-->
<!--		</ul>-->
<!--		<ul>-->
<!--&lt;!&ndash;			<li><a href="/login" class="down">Login</a></li>&ndash;&gt;-->
<!--		</ul>-->
<!--	</header>-->
<!--</nav>-->





<nav th:fragment="navbar2" class="navbar navbar-expand-lg bg-body-tertiary ">
	<a class="col-6 navbar-brand" href="/">Cryptex</a>

	<div class="col-6 d-flex justify-content-between">
		<a class="nav-link active" href="/overview">Tutorial</a>
		<a class="nav-link active" href="/about-us">About</a>
		<a class="nav-link active" href="/dashboard">Dashboard</a>
		<a class="nav-link active" href="/sign-up">Sign Up</a>
		<a class="nav-link active" href="/login">Login</a>
	</div>
</nav>



</body>
</html>