.dashboard {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dashboard-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 180px;
    width: 250px;
}

.dashboard-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dashboard-card-content {
    font-size: 14px;
}

.card-button {
    position: absolute;
    top: 135px;
    left: 61px;
}
.create-watchlist-button{
    position: absolute;
    top: 178px;
    left: 1269px;
}
searchResults {
    position:absolute;
    list-style:none;
    left:-10px;
    z-index: 10;
    margin:2px;
    padding:4px;
    max-height:400px;
    overflow-y:scroll;
    width: 300px;
}

#searchResults a {
    text-decoration: none!important;
    color:inherit;
    text-shadow: 1px 1px 0 black;
}
#searchResults li {
    background:darkslategrey;
    opacity: .9;
}
#searchResults li:hover {
    background:rgba(0,0,30,.9);
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: relative;
    top: 0;
    left: -50%;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background: rgba(10,10,10, 0.9);
    border: 1px solid #999;
    padding-left: 100%;
    box-sizing: content-box;
}
.ticker {

    display: inline-block;
    font-family: "Andale Mono";
    font-size: .5em;
    text-shadow: 1px 1px 0 black;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff
}

#tableHead {
    position: sticky;
    top:0;
    z-index: 1;
}

body {
    padding-bottom: 5rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}
h1,h2,p {padding: 0 5%;}

.coin-icon{
    height:25px;
    width:25px;
}
.coin-volChange {
    vertical-align:super;
    font-size: medium;
}

#searchResults {
    position:absolute;
    list-style:none;
    left:-10px;
    z-index: 10;
    margin:2px;
    padding:4px;
    max-height:400px;
    overflow-y:scroll;
    width: 300px;
}
#searchResults a {
    text-decoration: none!important;
    color:inherit;
    text-shadow: 1px 1px 0 black;
}
#searchResults li {
    background:darkslategrey;
    opacity: .9;
}
#searchResults li:hover {
    background:rgba(0,0,30,.9);
}

body {
    overflow-x: hidden;
}

.globalValue {
    font-size: medium;
    color: purple;
    text-shadow: 1px 1px 0 black;
}

.loading {
    margin-top: 0.6em;
}

.loading span {
    display: inline-block;
    animation: wave-text 1s ease-in-out infinite;
}

.loading
span:nth-of-type(1){ animation-delay: 0.0s; }
span:nth-of-type(2){ animation-delay: 0.1s; }
span:nth-of-type(3){ animation-delay: 0.2s; }
span:nth-of-type(4){ animation-delay: 0.3s; }
span:nth-of-type(5){ animation-delay: 0.4s; }
span:nth-of-type(6){ animation-delay: 0.5s; }
span:nth-of-type(7){ animation-delay: 0.6s; }
span:nth-of-type(8){ animation-delay: 0.7s; }
span:nth-of-type(9){ animation-delay: 0.8s; }
span:nth-of-type(10){ animation-delay: 0.9s; }

@keyframes wave-text{
    00%{
        transform: translateY(0em);
    }
    60%{
        transform: translateY(-0.6em);
    }
    100%{
        transform: translateY(0em);
    }
}

.spinnyGear {
    animation: rotateGear 2s linear infinite;
}

@keyframes rotateGear {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    55% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}


