

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/*.ticker-wrap {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: -50%;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    height: 4rem;*/
/*    background: rgba(10,10,10, 0.9);*/
/*    border: 1px solid #999;*/
/*    padding-left: 100%;*/
/*    box-sizing: content-box;*/
/*}*/
.content-container {
    width: 100%;
    max-width: 1200px; /* adjust this value as needed */
    margin: 0 auto;
    border-radius: 10px;
}

.ticker-wrap {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background: rgba(10, 10, 10, 0.9);
    border: 1px solid #999;
    box-sizing: content-box;
}

.ticker {

    display: inline-block;
    font-family: "Andale Mono";
    font-size: .5em;
    text-shadow: 1px 1px 0 black;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff
}

#tableHead {
    position: sticky;
    top:0;
    z-index: 1;
}

body { padding-bottom: 5rem; }
h1,h2,p {padding: 0 5%;}

.coin-icon{
    height:25px;
    width:25px;
}
.coin-volChange {
    vertical-align:super;
    font-size: medium;
}

#searchResults {
    position:absolute;
    list-style:none;
    left:-10px;
    z-index: 10;
    margin:2px;
    padding:4px;
    max-height:400px;
    overflow-y:scroll;
    width: 300px;
}
#searchResults a {
    text-decoration: none!important;
    color:inherit;
    text-shadow: 1px 1px 0 black;
}
#searchResults li {
    background:darkslategrey;
    opacity: .9;
}
#searchResults li:hover {
    background:rgba(0,0,30,.9);
}

body {
    overflow-x: hidden;
}

.globalValue {
    font-size: medium;
    color: purple;
    text-shadow: 1px 1px 0 black;
}
@media (max-width: 768px) {
    .ticker__item {
        font-size: 1rem;
    }
}
canvas {
    width: 100% !important;
    height: 30px !important;
}

/*Nav bar*/
* {
    font-family: Poppins, sans-serif;
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}
li a{
    font-weight: 400;
    font-size: 12px;
    color: #04adef ;
    text-decoration: none;
}

header{
    background-color: #2a2b3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: white;
}
nav {
    background-color: #2a2b3c;
}