

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CREATORS</title>
        <link th:replace="partials/partials:: bootstrapLink">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
    <nav th:replace="partials/partials :: navbar"></nav>
    <h1>About</h1>
    <h1> Our Team</h1>
    <nav>

    </nav>

    <main class = "container">
        <h2>Our Team</h2>
        <p></p>
        <ul>
            <li>
                <h3>Horace Smith </h3>
                <img src=".jpg" alt="">
                <p></p>
            </li>
            <li>
                <h3>Nickolas Solley</h3>
                <img src=".jpg" alt="">
                <p>blah blah balh</p>
            </li>
            <li>
                <h3>Jason Crites</h3>
                <img src=".jpg" alt="">
                <p>some info</p>
            </li>
            <h3>Lonnie Arellano</h3>
            <img src=".jpg" alt="">
            <p> some info</p>
            </li>
            <li>
                <h3>Andre</h3>
                <img src=".jpg" alt="">
                <p>some info</p>
        </ul>
    </main>

    <footer>
        <h2>Contact Us</h2>
        <form action="submit-form.php" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Send</button>
        </form>
        <p>&copy; 2023 CryptEX. </p>
    </footer>


    <script th:replace="partials/partials :: bootstrapScript"></script>
    </body>
</html>

