
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" >
<head>
  <meta charset="UTF-8">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- SweetAlert2 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.min.css">

  <!-- SweetAlert2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.min.js"></script>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <script src="https://kit.fontawesome.com/f692bfbf5c.js" crossorigin="anonymous"></script>

</head>
<body class ="d-flex flex-column min-vh-100">
<nav th:replace="~{partials/navBar}"></nav>
<!-- header and other content -->
<header>


</header>

<main>

  <!--the coin table chart lives in the tabpanel div, each tab button calls getChart() with different queries-->
  <div class="container">
    <section class="row">
      <div class="d-flex align-items-start">
        <div class="nav col-md-2 flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <!--           Add the "Create Watchlist" button after the "Watchlist 1" button-->
          <button class="nav-link" id="create-watchlist-btn" data-bs-toggle="modal" data-bs-target="#createWatchlistModal" type="button">Create Watchlist</button>
          <!-- Create the modal with the form -->
          <div class="modal fade" id="createWatchlistModal" tabindex="-1" aria-labelledby="createWatchlistModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="createWatchlistModalLabel">Create Watchlist</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form id="create-watchlist-form">

                    <div class="mb-3">
                      <label for="watchlist-name" class="form-label">Watchlist Name</label>
                      <input type="text" class="form-control" id="watchlist-name" required>
                    </div>
                    <div class="form-group">
                      <label for="search">Search for coins:</label>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="search" placeholder="Search for coins">
                      </div>
                      <ul id="searchResults" style="list-style-type: none; padding: 0;"></ul>
                    </div>
                    <div class="mb-3">
                      <label for="added-coins" class="form-label">Added Coins</label>
                      <ul class="list-group" id="added-coins">
                        <!-- Added coins will be listed here with delete functionality -->
                      </ul>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">Create Watchlist</button>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-coinTable" type="button" role="tab" aria-controls="v-pills-watchlist1" aria-selected="true" onclick="getChart('https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&category=binance-smart-chain&per_page=10&page=1&sparkline=true&price_change_percentage=1h%2C24h%2C7d&locale=en');clearChart()">Watchlist 1</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">

          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-coinTable-tab">
            <div class="container">
              <section class="row">
                <table class="table table-dark">
                  <thead id="tableHead">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="cursor:pointer;" onclick="sortTable(0)">name</th>
                    <th scope="col">ticker</th>
                    <th scope="col">price</th>
                    <th scope="col">1h</th>
                    <th scope="col">24h</th>
                    <th scope="col">7d</th>
                    <th scope="col" style="cursor:pointer;">volume</th>
                    <th scope="col">marketcap</th>
                    <th scope="col">24h Hi</th>
                    <th scope="col">24h Lo</th>
                    <th scope="col">Last 7 days</th>
                  </tr>
                  </thead>
                  <tbody id="coinChart"></tbody>
                </table>
              </section>

              <!--live chart-->
              <section>
                <div class="row">

                  <div id="coin-description"></div>


                  <div id="chartButtons"></div>
                  <div style="position:relative;" id="liveChart"></div>
                  <div id="chartBottom"></div>
                </div>



              </section>
            </div> <!--DOM populate -->

          </div>
        </div>
      </div>
    </section>

  </div>
  <!--end of container-->
</main>
<style>
  /* Animating the social media icons */
  .social a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .social a:hover i {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .footer {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
  }

  .deleteWatchlistButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: red !important;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
  }


</style>

<footer style="position: relative; bottom:0; width: 100%; " class="footer bg-dark d-flex  ">

  <div class="container bg-dark">
    <div class="row justify-content-center text-center ">
      <div class="">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="150.000000pt" height="100.000000pt" viewBox="0 0 228.000000 186.000000"
             preserveAspectRatio="xMidYMid meet">

          <g transform="translate(0.000000,186.000000) scale(0.100000,-0.100000)"
             fill="#ffffff" stroke="none">
            <path d="M1019 1689 c-73 -10 -175 -49 -252 -96 -91 -55 -647 -607 -647 -643
0 -20 58 -83 273 -297 149 -150 290 -287 312 -304 60 -47 211 -117 287 -133
93 -19 229 -20 314 -2 203 43 271 91 610 430 149 150 275 282 279 295 8 28 19
15 -306 342 -278 278 -341 329 -469 375 -110 40 -268 53 -401 33z m317 -39
c180 -46 250 -98 599 -449 l250 -251 -250 -251 c-138 -138 -284 -278 -325
-311 -136 -111 -270 -158 -450 -158 -128 0 -217 21 -330 76 -94 46 -98 50
-395 345 l-300 298 275 277 c282 283 370 357 469 395 137 53 317 64 457 29z"/>
            <path d="M1005 1586 c-67 -16 -165 -62 -222 -102 -25 -17 -159 -145 -298 -284
l-253 -252 41 -19 c51 -23 134 -25 184 -4 23 10 110 87 223 198 194 192 253
237 341 263 76 23 208 21 280 -4 143 -51 252 -162 295 -301 15 -48 20 -193 8
-225 -4 -10 31 20 77 67 101 101 152 130 231 131 32 1 58 3 58 6 0 9 -383 385
-425 417 -59 45 -156 91 -227 108 -75 18 -243 18 -313 1z m295 -28 c67 -12
164 -57 230 -106 76 -56 365 -351 355 -360 -6 -5 -31 -16 -56 -26 -25 -9 -75
-41 -109 -71 -35 -30 -67 -55 -70 -55 -4 0 -10 26 -13 58 -9 80 -32 150 -66
203 -156 235 -450 301 -675 152 -41 -28 -140 -117 -236 -213 -91 -91 -181
-173 -202 -183 -43 -20 -141 -23 -156 -4 -16 19 441 476 529 529 146 89 283
111 469 76z"/>
            <path d="M1091 1329 c-29 -5 -80 -23 -112 -40 -233 -124 -278 -427 -92 -612
60 -61 121 -93 205 -107 208 -36 420 115 446 318 35 266 -186 483 -447 441z
m217 -55 c71 -35 109 -68 153 -136 117 -181 41 -424 -160 -516 -70 -32 -189
-36 -266 -9 -83 28 -158 95 -197 174 -30 62 -33 75 -33 163 0 83 3 102 27 151
87 176 305 256 476 173z"/>
            <path d="M625 969 c-93 -94 -135 -119 -219 -127 l-61 -7 220 -216 c195 -190
229 -220 295 -252 41 -20 102 -44 135 -52 85 -22 235 -19 330 5 153 39 225 94
540 409 l219 220 -44 20 c-57 26 -132 26 -188 1 -29 -13 -109 -84 -235 -208
-106 -103 -212 -199 -237 -213 -129 -71 -287 -73 -425 -5 -169 84 -266 250
-252 434 3 39 5 72 3 72 -1 0 -37 -36 -81 -81z m1389 -22 c15 -11 -8 -38 -226
-253 -198 -196 -258 -249 -322 -287 -191 -112 -444 -109 -636 8 -34 21 -132
108 -236 212 -169 168 -176 177 -153 186 75 30 129 61 164 96 22 22 45 40 51
41 14 0 24 -32 24 -75 0 -37 30 -121 64 -179 38 -64 131 -145 214 -184 65 -31
86 -36 172 -40 114 -5 201 16 284 69 27 17 129 109 225 204 97 95 192 182 211
194 40 24 135 29 164 8z"/>
          </g>
        </svg>
        <h2 class="footer-heading text-center bg-dark">CryptEX</h2>
        <p class="menu  d-flex justify-content-around bg-dark">
          <a href="/index" class="text-white">Home</a>
          <a href="/overview" class="text-white">OverView</a>
          <a href="/about-us" class="text-white">About Us</a>
          <a href="/dashboard" class="text-white">Dashboard</a>
          <a href="#top" class="btn btn-text-white btn-back-to-top">
            <i class="fa fa-angle-up"></i>
          </a>
        </p>
        <p class="social">
          <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x" style="color: #ffffff"></i></a>
          <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-2x"
                                                 style="color: #ffffff;"></i></a>
          <a href="https://github.com/"><i class="fab fa-github fa-2x" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-2x"
                                                 style="color: #ffffff;"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"
                                                  style="color: #ffffff;"></i></a>
        </p>
      </div>
      <div class="row  bg-dark">
        <div class="text-center bg-dark">
          <p class="copyright">
            Copyright &copy; CryptEX
            <script>document.write(new Date().getFullYear());</script>
            | All rights reserved |
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
<script src="/jquery-plugins/jquery-sparkline.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script src="/js/dashboard.js"></script>

<!--scripts-->
<script>
  let topBtn = document.getElementById("topBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topBtn.style.display = "block";
    } else {
      topBtn.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

</script>



</body>

</html>

