<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tester</title>
</head>
<body>
<form action="/databaseTester" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" th:value="${user}">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="newWatchlist">New Watchlist</label>
    <input type="text" id="newWatchlist" name="newWatchlist">

    <label for="newCoinData">New CoinData</label>
    <input type="text" id="newCoinData" name="newCoinData">

    <input type="submit" value="Submit">
</form>


<!--<form action="/databaseTester" method="post">-->
<!--  <label for="user">User</label>-->
<!--  <input type="text" id="user" name="name">-->
<!--  <label for="watchlist">Watchlist</label>-->
<!--  <input type="text" id="watchlist" name="newWatchlist">-->
<!--    <label for="coinData">CoinData</label>-->
<!--     <input type="text" id="coinData" name="newCoinData">-->
<!--    <input type="submit">-->
<!--</form>-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>