<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script src="https://kit.fontawesome.com/f692bfbf5c.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started</title>
    <link th:replace="partials/partials :: bootstrapLink">
    <style>
        *{
            color: white;
        }
        body{
            background-color: #2a2b3c;
        }
        .row{
            background-color: #1c1d2b;
        }
        .picture img{
            background-color: white;
            width: 300px;
            height: 300px;
        }
        .picture2 img{
            background-color: white;
            width: 200px;
            height: 200px;
        }
        @media screen and (min-width:992px) {
            .largViewFont {
                font-size: 1.897rem;
            }
        }

        @media screen and (min-width:1200px) {
            .largViewFont {
                font-size: 2.250rem;
            }
        }


    </style>

</head>

<body class ="body">
<nav th:replace="partials/navBar :: navbar2"></nav>


<div class="container">
    <div class="row">
        <div class=" col-xl-8 col-lg-8 col-sm-6 p-3 d-flex flex-column justify-content-center border border-white rounded">
            <h1>Lessons</h1>
            <h5 class="card-title">What is Cryptocurrency?</h5>
            <p class="card-text p-3"><i>noun: A digital currency in which transactions are verified and records maintained by a decentralized system using cryptography, rather than by a centralized authority.</i></p>
            <a href="/lesson-1" class="btn btn-primary">Read more</a>
        </div>
<div class="col-xl-4 col-lg-4 col-sm-6 p-3 border border-white rounded">
            <img style="height:400px; width: 100%;overflow:hidden;border-radius: 99px" class="m-2" src="/images/learn_crypto.png" alt="integrated">
</div>
    </div>
    <h1 class="text-center mt-4">Learning Resources</h1>
    <div class="row mt-5">

        <div class=" col-xl-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img src="/images/what_is_crypto.png" alt="what is crypto?"></div>
            <h1 class="largViewFont">What is Cryptocurrency?</h1>
            <p>Cryptocurrency is a digital or virtual currency that uses cryptography (the process of converting legible information into an uncrackable code) to securely and independently execute transactions. Cryptocurrencies use decentralized technology to allow users to make secure payments and store money without the need for traditional financial intermediaries such as banks.</p>
            <a href="/lesson-1" class="bg-white btn btn-text-white">Learn More</a>
        </div>

        <div class=" col-xl-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img src="/images/humble_miner.png" alt="Proof of Work Mining"></div>
            <h1>A Trustless Ecosystem</h1>
            <p>By design, blockchain technology is 'trustless', the integrity of the system is validated by each operator of the network.</p>
            <a href="/lesson-2" class="bg-white btn btn-text-white">Learn More</a>
        </div>

        <div class=" col-lg-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img src="/images/blockchain.png" alt="Blockchain Technology"></div>
            <h1>Blockchains</h1>
            <p>Blockchain technology was first introduced in 2008 with the creation of Bitcoin, but it has since been used for a wide range of applications beyond cryptocurrencies. For example, blockchain technology can be used to create decentralized applications (dApps), supply chain management systems, voting systems, and much more. The transparency and security provided by blockchain technology make it an attractive solution for many industries.</p>
            <a href="/lesson-3" class="bg-white btn btn-text-white">Learn More</a>
        </div>

        <div class=" col-lg-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img class="img-fluid" src="/images/crypto-network.png" alt="cryptocurrency ecosystem"></div>
            <h1>Ecosystems, Networks and Layers</h1>
            <p>Layers refers to the underlying blockchain protocol which defines the basic rules and functionality of the network, such as how new blocks are added, how transactions are validated, and how consensus is reached.</p>
            <a href="/lesson-4" class="bg-white btn btn-text-white">Learn More</a>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class=" col-lg-3 col-lg-3 col-sm-12 ">
            <div class="picture2 m-3"><img class="img-fluid" src="/images/eth_artwork.png" alt="DeFi Wallet picture"></div>
            <h1>Get Started with DeFi</h1>
            <p>DeFi networks are built on top of blockchain technology and allow users to access financial services such as lending, borrowing, trading, and more in a decentralized and trustless manner.</p>
            <a href="/lesson-5" class="bg-white btn btn-text-white">Learn More</a>
        </div>
        <div class=" col-lg-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img class="img-fluid" src="/images/smart_contract.png" alt="DeFi Wallet picture"></div>
            <h1>Crypto Trading</h1>
            <p>This lesson will explain some key concepts in crypto trade, including how trade in the crypto market works and how prices are determined.</p>
            <a href="/lesson-6" class="bg-white btn btn-text-white">Learn More</a>
        </div>
        <div class=" col-lg-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img class="img-fluid" src="/images/uniswap.svg" alt="DeFi Wallet picture"></div>
            <h1>Trading Crypto on the Uniswap Exchange</h1>
            <p>This page will cover a quick walkthrough of trading cryptocurrency on the DeFi exchange Uniswap.</p>
            <a href="/lesson-7" class="bg-white btn btn-text-white">Learn More</a>
        </div>
        <div class=" col-lg-3 col-lg-3 col-sm-12">
            <div class="picture2 m-3"><img class="img-fluid" src="/images/DeFi_wallet.png" alt="DeFi Wallet picture"></div>
            <h1>Self Custody</h1>
            <p>This guide will cover the basics of crypto wallets and self custody</p>
            <a href="/lesson-8" class="bg-white btn btn-text-white">Learn More</a>
        </div>
    </div>
</div>

<div th:replace="partials/partials :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="partials/partials :: bootstrapScript"></script>
</body>
</html>




