<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Sign up</title>
  <link th:replace="partials/partials :: bootstrapLink">
  <script src="https://kit.fontawesome.com/f692bfbf5c.js" crossorigin="anonymous"></script>
  <style>
    /**{*/
    /*  font-family: Poppins, sans-serif;*/
    /*  margin: 0;*/
    /*  padding: 0;*/
    /*  box-sizing: content-box;*/
    /*}*/
    /*body {*/
    /*  !*background-image:url("../img/blueCrypto.webp");*!*/
    /*  background-color: #2a2b3c;*/
    /*  background-size: cover;*/
    /*  background-repeat: no-repeat;*/
    /*  background-position: center;*/
    /*  background-attachment: fixed;*/
    /*}*/
    /*.box {*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  align-items: center;*/
    /*  min-height: 90vh;*/
    /*}*/
    /*.container {*/
    /*  width: 350px;*/
    /*  display: flex;*/
    /*  flex-direction: column;*/
    /*  padding: 0 15px 0 15px;*/
    /*}*/
    /*span {*/
    /*  color: #ffffff;*/
    /*  font-size: small;*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  padding: 10px 0 10px 0;*/
    /*}*/
    /*header {*/
    /*  color: #ffffff;*/
    /*  font-size: 30px;*/
    /*  display: flex;*/
    /*  justify-content: center;*/
    /*  padding: 10px 0 10px 0;*/
    /*}*/
    /*.input {*/
    /*  height: 45px;*/
    /*  width: 87%;*/
    /*  border: none;*/
    /*  outline: none;*/
    /*  border-radius: 30px;*/
    /*  color: #ffffff;*/
    /*  padding: 0 0 0 45px;*/
    /*  background: rgba(255,255,255,0.2);*/
    /*}*/

    /*#my-button2 {*/
    /*  height: 45px;*/
    /*  width: 87%;*/
    /*  border: none;*/
    /*  outline: none;*/
    /*  border-radius: 30px;*/
    /*}*/

    /*.input-field {*/
    /*  display: flex;*/
    /*  flex-direction: column;*/
    /*}*/
    /*label {*/
    /*  color:#ffffff;*/
    /*}*/


    /*.material-symbols-outlined {*/
    /*  font-variation-settings:*/
    /*          'FILL' 0,*/
    /*          'wght' 400,*/
    /*          'GRAD' 0,*/
    /*          'opsz' 48*/
    /*}*/

    /*i {*/
    /*  position: relative;*/
    /*  top:-33px;*/
    /*  left: 17px;*/
    /*}*/

    /*li a{*/
    /*  font-weight: 400;*/
    /*  font-size: 12px;*/
    /*  color: #04adef ;*/
    /*  text-decoration: none;*/
    /*}*/

    /*.nav__links {*/
    /*  list-style: none;*/
    /*}*/

    /*.nav__links li {*/
    /*  display: inline-block;*/
    /*  padding: 0px 20px;*/
    /*}*/
    /*.nav__links li a {*/
    /*  transition: all 0.3s ease 0s;*/
    /*}*/
    /*.nav__links li a:hover {*/
    /*  color: white;*/
    /*}*/
    /*nav {*/
    /*  background-color: #2a2b3c;*/
    /*}*/


  </style>
  <link rel="stylesheet" href="/css/navBar.css">
</head>
<body>

<nav th:replace="partials/navBar :: navbar"></nav>


<!--<div class="page-wrapper">-->
  <div class="box">
    <div class="container">
      <div class="top-header">
        <span class="span"></span>
        <header class="logINHeader">Sign Up</header>
      </div>

      <form th:action="@{/sign-up}" th:object="${user}" method="post">

        <div for="username" class="input-field">
          <input class="input" id="username" type="text" th:field="*{username}" placeholder="Username" style="width: 100%;"/>
        </div>
        <i class="fa-solid fa-user bx bx-lock-alt log" style="color: #ffffff;"></i>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

        <div for="email" class="input-field">
          <input class="input" id="email" type="text" th:field="*{email}" placeholder="Email"  style="width: 100%;"/>
        </div>
        <i class="fa-solid fa-lock bx bx-lock-alt log" style="color: #ffffff;"></i>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>


        <div for="phonenumber" class="input-field">
          <input class="input" id="phonenumber"type="text" th:field="*{phonenumber}" placeholder="Phone Number"  style="width: 100%;"/>
        </div>
        <i class="fa-solid fa-lock bx bx-lock-alt log" style="color: #ffffff;"></i>
        <span th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}"></span>


        <div for="password" class="input-field">
          <input class="input" id="password" type="password" th:field="*{password}"placeholder="Password"  style="width: 100%;" />
        </div>
        <i class="fa-solid fa-lock bx bx-lock-alt log" style="color: #ffffff;"></i>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>


        <div class="input-field">
          <input type="submit" class="submit" value="login">
        </div>
      </form>


    </div>
  </div>
<!--</div>-->
<script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
<script>
  const menuIcon = $(".menu-icon");
  const menu = $(".nav-links");
  const linkUP = $(".up")
  const linkDown = $(".down")
  $(document).ready(function() {
    const nav = $('.nav-links2');
    $(window).resize(function() {
      const width = $(window).width();
      if (width > 1200) {
        nav.show();
        menu.hide()
      } else {
        nav.hide();
      }
    });
  });

  menuIcon.on('click', () => {
    menu.toggle()
  });
</script>
<script th:replace="partials/partials :: bootstrapScript"></script>
</body>
</html>