<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Getting Started</title>
    <link th:replace="partials/partials :: bootstrapLink">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body class ="body">
<nav th:replace="partials/partials :: navbar"></nav>

<main class="container">
    <h1 class ="faq">Frequently Asked Questions</h1>

    <h2 class="">What is Crypto Currency? </h2>
    <button class="toggle-btn">+</button>

    <div class="toggle-paragraph">
        <p> Cryptocurrency is a digital or virtual currency that uses cryptography for security and operates
            independently
            of a central bank or government. Cryptocurrencies rely on blockchain technology, which is a decentralized
            ledger
            that records all transactions made using the cryptocurrency.
        </p>
        Cryptocurrencies are typically created through a process called mining, which involves using powerful computers
        to
        solve complex mathematical equations to validate and record transactions on the blockchain. Popular
        cryptocurrencies
        include Bitcoin, Ethereum, and Lite-coin.
        <p>
            One of the main features of cryptocurrency is its decentralized nature, which means that it is not
            controlled by
            any central authority or government. This allows for more secure transactions and greater privacy for users.
            Additionally, cryptocurrencies can be used for a variety of purposes, including online purchases,
            investment,
            and international money transfers. However, their value can be highly volatile, and their use is not yet
            widely
            accepted in many countries.
        </p>
    </div>
    <h2>How does cryptocurrency work?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>Cryptocurrency works through a decentralized ledger technology called blockchain. When someone sends
            cryptocurrency to another person, the transaction is recorded on a public ledger, which is the blockchain.
        </p>
        Each transaction is verified and validated by a network of computers, called nodes, that are connected to the
        blockchain. These nodes use complex algorithms to confirm that the transaction is legitimate and that the sender
        has
        enough funds to make the transaction.
        <p>
            Once a transaction is confirmed, it is added to the blockchain and cannot be altered or deleted. This
            provides a
            secure and transparent way to store and transfer value.
        </p>
        Cryptocurrency also relies on encryption techniques to ensure the security of transactions and to protect the
        privacy of users. Transactions are signed with a private key, which is a long string of characters that only the
        owner of the cryptocurrency has access to.
        <p>
            Overall, cryptocurrency provides a decentralized, secure, and transparent way to store and transfer value
            without the need for a central authority or intermediary, such as a bank.
        </p>
    </div>
    <h2>What is Block Chain Technology?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>Blockchain technology is a decentralized digital ledger that records transactions in a secure and transparent
            way. It is a network of computers that work together to maintain a shared database, with each computer in
            the
            network having a copy of the ledger.
        <p>
            Whenever a new transaction is made, it is added to the blockchain as a new block. Each block contains a set
            of
            transactions that have been verified and validated by a network of nodes, using complex algorithms.
        </p>
        Once a block is added to the blockchain, it cannot be altered or deleted, providing a tamper-proof and
        transparent
        record of all transactions. This makes blockchain technology ideal for applications such as cryptocurrency,
        where
        transparency and security are paramount.
        <p>
            Blockchain technology has many potential uses beyond cryptocurrency, including supply chain management,
            digital
            identity verification, and voting systems. It has the potential to transform industries by providing a
            secure,
            transparent, and decentralized way to store and transfer data.</p>
    </div>
    <h2>How is cryptocurrency different from other currencies?</h2>
    <button class="toggle-btn">+
    </button>
    <div class="toggle-paragraph">
        <p>Cryptocurrency is different from traditional currencies in several ways:</p>

        <p>1: Decentralized: Cryptocurrency is decentralized, meaning that it is not controlled by a central authority
            or
            government. Traditional currencies, on the other hand, are typically issued and regulated by governments.
        </p>
        2: Digital: Cryptocurrency exists only in a digital form, and transactions are recorded on a decentralized
        ledger
        called the blockchain. Traditional currencies can exist in both digital and physical forms.
        <p>
            3: Limited supply: Many cryptocurrencies, such as Bitcoin, have a limited supply, which is determined by the
            underlying algorithm. Traditional currencies, on the other hand, can be printed by central banks as needed.
        </p>
        4: Privacy: Cryptocurrency transactions are generally more private than traditional currency transactions. While
        traditional currency transactions can be traced, cryptocurrency transactions are recorded on the blockchain
        using
        anonymous addresses, which can make it more difficult to link a transaction to a specific person or entity.
        <p>
            5: Volatility: Cryptocurrency prices can be highly volatile, with values fluctuating rapidly and
            unpredictably.
            Traditional currencies, while subject to fluctuations in exchange rates, are generally more stable in value.
        </p>
        <p>
            6: Overall, cryptocurrency represents a new and innovative form of currency that operates independently of
            traditional banking systems and government control. While it has its own unique characteristics and
            challenges,
            it has the potential to transform the way we think about and use money.
        </p>
    </div>
    <h2>How can I buy cryptocurrency?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        There are several ways to buy cryptocurrency:
        <p>
            Cryptocurrency exchanges: Cryptocurrency exchanges are online platforms where you can buy, sell, and trade
            cryptocurrencies. Some popular exchanges include Coinbase, Binance, and Kraken. To use an exchange, you will
            need to create an account, verify your identity, and link a payment method such as a bank account or credit
            card.
        </p>
        Peer-to-peer marketplaces: Peer-to-peer marketplaces, such as LocalBitcoins and Paxful, allow buyers and sellers
        to
        connect directly and make transactions without the need for an intermediary. These transactions can be made
        using a
        variety of payment methods, including bank transfers, cash, and PayPal.
        <p>
            Bitcoin ATMs: Bitcoin ATMs allow you to buy Bitcoin and other cryptocurrencies using cash. These machines
            are
            located in public places such as malls and convenience stores and typically charge a higher fee than other
            methods.
        </p>
        Cryptocurrency brokers: Cryptocurrency brokers, such as eToro and Coinmama, allow you to buy cryptocurrency
        directly
        from the broker, rather than through an exchange. These brokers typically charge a higher fee but may offer
        additional services such as customer support and simplified buying processes.
        <p>
            Before buying cryptocurrency, it's important to do your research and understand the risks involved.
            Cryptocurrency prices can be highly volatile, and the market is not yet regulated in many countries.
            Additionally, storing cryptocurrency requires knowledge of digital wallets and security practices to keep
            your
            investment safe.</p>

    </div>
    <h2>How can I store cryptocurrency?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        There are several ways to store cryptocurrency:
        <p>
            Digital wallets: Digital wallets are software programs that allow you to store, manage, and send
            cryptocurrencies. They come in several forms, including mobile apps, desktop software, and online wallets.
            Some
            popular digital wallet providers include Coinbase, MyEtherWallet, and Trezor. Digital wallets use private
            keys
            to secure your cryptocurrency, so it's important to choose a reputable provider and practice good security
            habits such as using strong passwords and enabling two-factor authentication.
        </p>
        Hardware wallets: Hardware wallets are physical devices that store your cryptocurrency offline, providing an
        added
        layer of security. They typically connect to your computer or mobile device using USB or Bluetooth and require a
        PIN
        or passphrase to access your funds. Some popular hardware wallet brands include Ledger and Trezor.
        <p>
            Paper wallets: Paper wallets are physical printouts or handwritten copies of your private key and public
            address. They offer a low-tech, offline option for storing cryptocurrency, but can be less secure than
            digital
            or hardware wallets if not properly stored or protected.
        </p>
        Regardless of which storage method you choose, it's important to keep your private keys secure and protect your
        cryptocurrency from theft or loss. Be sure to back up your wallet regularly and follow recommended security
        practices such as using strong passwords and enabling two-factor authentication.
    </div>

    <h2>What is cryptocurrency mining and how does it work?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>
            Mining is the process by which new cryptocurrency tokens are created and transactions are verified on a
            blockchain network. In essence, mining involves using powerful computer hardware to solve complex
            mathematical
            algorithms and add new transactions to the blockchain ledger.
        </p>
        Here's how the mining process typically works:
        <p>
            Nodes on the network validate new transactions and add them to a "block".

            Miners compete to solve a complex mathematical puzzle by using their computer's processing power to generate
            a
            unique "hash" value for the block.

            The first miner to solve the puzzle and generate a valid hash adds the block to the blockchain and is
            rewarded
            with a set amount of cryptocurrency tokens.

            Other nodes on the network then validate the newly added block and its transactions, and the process begins
            again with a new block.
        </p>
        <p>
            The mining process is an essential component of many cryptocurrencies, as it helps to ensure the security
            and
            integrity of the blockchain network. Because miners must invest significant amounts of computing power to
            solve
            the complex puzzles, it also helps to prevent fraudulent activity and malicious attacks on the network.
        </p>
        <p>
            However, mining can be a complex and energy-intensive process that requires specialized hardware and a
            significant amount of electricity. As a result, some cryptocurrencies, such as Ethereum, are transitioning
            to a
            "proof-of-stake" model that uses less energy and requires less computing power to validate transactions.
        </p>
    </div>
    <h2>How can I use cryptocurrency for payments?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>To use cryptocurrency for payments, you will need to follow these general steps:

            Obtain cryptocurrency: You will need to purchase cryptocurrency, such as Bitcoin, Ethereum, or Litecoin,
            using a
            cryptocurrency exchange or other methods mentioned earlier.

            Set up a wallet: You will need to set up a digital wallet to store your cryptocurrency. There are different
            types of wallets, such as mobile, desktop, or hardware wallets. You will need to choose a wallet that
            supports
            the type of cryptocurrency you want to use.

            Find merchants that accept cryptocurrency: You can use online directories or search engines to find
            merchants
            that accept cryptocurrency payments. Many online retailers, such as Microsoft and Overstock, accept
            cryptocurrency payments. Some physical stores also accept cryptocurrency.

            Make a payment: To make a payment, you will need to transfer the required amount of cryptocurrency from your
            wallet to the merchant's wallet. You will need to enter the merchant's wallet address and the amount of
            cryptocurrency you want to send. The transaction is verified by the blockchain network and can take several
            minutes to complete.

            It's important to keep in mind that cryptocurrency payments can be irreversible, so it's important to
            double-check the payment details before making a transaction. Additionally, cryptocurrency transactions can
            be
            subject to fees, which can vary depending on the type of cryptocurrency and the payment method used.</p>
    </div>
    <h2>Is cryptocurrency legal?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>
            The legality of cryptocurrency varies from country to country. Some countries have banned cryptocurrency
            altogether, while others have embraced it and even created their own cryptocurrencies. It is important to
            research the legal status of cryptocurrency in your own country before investing in it.</p>
    </div>
    <h2>Is cryptocurrency secure?</h2>
    <button class="toggle-btn">+</button>
    <div class="toggle-paragraph">
        <p>Cryptocurrency transactions are generally considered secure because of the cryptography used to protect them.
            However, cryptocurrency exchanges and wallets can be vulnerable to hacking and other security breaches.</p>
    </div>
    <div>
        <h2>What are the risks of investing in cryptocurrency? </h2>
        <button class="toggle-btn">+</button>
        <div class="toggle-paragraph">
            <p>
                Cryptocurrency is a highly volatile investment, and the value of your investment can go up or down
                significantly
                in a short period of time. Cryptocurrency is also not backed by any government or central bank, so there
                is no
                guarantee that it will retain its value or that you will be able to sell it for a profit. Additionally,
                cryptocurrency exchanges and wallets can be vulnerable to hacking and other security breaches, so it's
                important
                to take steps to protect your cryptocurrency from theft or loss.</p>
        </div>

    </div>

    <section>
        <div class="container">
            <h2 class="video">Additional Video Resources</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <br>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1YyAzVmP9xQ"
                                allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yb6825iv0Vk"
                                allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rYQgy8QDEBI"
                                allowfullscreen></iframe>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>

    </section>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:replace="partials/partials :: bootstrapScript"></script>
<script src="/js/tutorial.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>